In [3]:
import pandas, numpy

In [16]:
ref_data = pandas.read_csv("/home/grotec/Repositories/lineage-tracking/reference_data/relative_fitnesses/C1-BC1_evolution_fitnesses.csv",
                           sep='\t',skiprows=1,header=None)
tst_data = pandas.read_csv("/home/grotec/Repositories/lineage-tracking/data/relative_fitnesses/C1-BC1_evolution_fitnesses.csv",
                           sep='\t',skiprows=1,header=None)

In [17]:
ref_data.index = ref_data[0]
del ref_data[0]

In [18]:
tst_data.index = tst_data[0]
del tst_data[0]

In [19]:
ref_data.sort_index(inplace=True)
tst_data.sort_index(inplace=True)

In [20]:
ref_data.head()

,1,2,3,4,5,6,7,8,9,10,...,21,22,23,24,25,26,27,28,29,30
0,,,,,,,,,,,,,,,,,,,,,
AATAGTTCTGGGGACC,0.0,0.0,0.0,0.0,0.0,0.0,0.012241,0.006065,0.018416,0.000000,...,0.001685,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0
ACGCCACGCGTCTCAG,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.011374,...,-0.002888,-0.009704,-0.017871,-0.001537,0.000000,0.000000,0.000000,0.0,0.0,0.0
ACTCGATCTCGCCGCC,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.009352,...,-0.000525,-0.012093,-0.019742,-0.004444,-0.010977,-0.023299,0.001345,0.0,0.0,0.0
ACTGTACCTGCGGGTT,0.0,0.0,0.0,0.0,0.0,0.0,0.013537,0.009417,0.017656,0.009130,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0
AGACCTATATCGCAAT,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.008181,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0

In [21]:
tst_data.head()

,1,2,3,4,5,6,7,8,9,10,...,21,22,23,24,25,26,27,28,29,30
0,,,,,,,,,,,,,,,,,,,,,
AATAGTTCTGGGGACC,0.0,0.0,0.0,0.0,0.0,0.0,0.012241,0.006065,0.018416,0.000000,...,0.001685,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0
ACGCCACGCGTCTCAG,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.011374,...,-0.002888,-0.009704,-0.017871,-0.001537,0.000000,0.000000,0.000000,0.0,0.0,0.0
ACTCGATCTCGCCGCC,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.009352,...,-0.000525,-0.012093,-0.019742,-0.004444,-0.010977,-0.023299,0.001345,0.0,0.0,0.0
ACTGTACCTGCGGGTT,0.0,0.0,0.0,0.0,0.0,0.0,0.013537,0.009417,0.017656,0.009130,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0
AGACCTATATCGCAAT,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.008181,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0

In [22]:
all([r == t for r,t in zip(ref_data.index, tst_data.index)])

True